
.section{
    text-align: center;
}
ul li{
    list-style: none;
    text-decoration: none;
}
ul li a{
    font-size: 25px;
}
.sec{
    justify-content: space-between;
    display: flex;
    background-color: azure;
}
@media(max-width:778px){
    ul li a{
        font-size: 15px;
    }
    .m{
        display: flex;
    }
}
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600");

:root {
  --bar-scale-y: 0;
  --sparkle-color: rgb(253 244 215 / 40%);
}

@keyframes pop-word {
  to {
    transform: rotateX(0);
  }
}

@keyframes show {
  to {
    opacity: 1;
  }
}

@keyframes bar-scale {
  to {
    transform: scaleY(1);
  }
}

@keyframes sparkle {
  0% {
    transform: scale(0);
  }

  60% {
    transform: scale(1) translate(4px, 1px) rotate(8deg);
  }

  100% {
    transform: scale(0) translate(4px, 1px) rotate(8deg);
  }
}

@keyframes shimmer {
  to {
    text-shadow: 0 0 8px red;
  }
}

body {
  display: grid;
  height: 100vh;

  background-color: black;
  place-items: center;
}

h1 {
  color: white;
  font-family: "Playfair Display", Vidaloka, serif;
  font-size: 6rem;

  line-height: 0.85;
  perspective: 500px;
}

.word {
  display: block;
  font-size: 60px;

  animation: show 0.01s forwards, pop-word 1.5s forwards;
  animation-timing-function: cubic-bezier(0.14, 1.23, 0.33, 1.16);
  opacity: 0;

  transform: rotateX(120deg);
  transform-origin: 50% 100%;
}

.word:nth-of-type(2) {
  padding: 0 2rem;

  animation-delay: 1.5s;

  color: gold;
}

.superscript {
  position: relative;
  animation-delay: 3.6s;

  animation-duration: 0.25s;
  animation-name: shimmer;

  vertical-align: text-top;
}

/* bars */
.superscript::before {
  --bar-width: 25%;

  position: absolute;

  top: 37%;
  left: 47%;
  width: 14%;
  height: 48%;

  animation: bar-scale 0.25s linear 3s 1 forwards;

  background: linear-gradient(
    to right,
    white var(--bar-width),
    transparent var(--bar-width) calc(100% - var(--bar-width)),
    white calc(100% - var(--bar-width))
  );

  content: "";

  transform: scaleY(var(--bar-scale-y));
}

/* sparkle */
.superscript::after {
  --size: 10rem;

  position: absolute;

  top: -5%;
  left: -85%;

  width: var(--size);
  height: var(--size);

  animation: sparkle 0.4s linear 3.5s 1 forwards;

  background: radial-gradient(
      circle at center,
      rgb(255 255 255 / 94%) 0% 7%,
      transparent 7% 100%
    ),
    conic-gradient(
      transparent 0deg 18deg,
      var(--sparkle-color) 18deg,
      transparent 20deg 40deg,
      var(--sparkle-color) 40deg,
      transparent 43deg 87deg,
      var(--sparkle-color) 87deg,
      transparent 95deg 175deg,
      var(--sparkle-color) 175deg,
      transparent 178deg 220deg,
      var(--sparkle-color) 220deg,
      transparent 222deg 270deg,
      var(--sparkle-color) 270deg,
      transparent 275deg 300deg,
      var(--sparkle-color) 300deg,
      transparent 303deg 360deg
    );

  border-radius: 50%;
  clip-path: polygon(
    50% 0,
    59.13% 26.64%,
    85.13% -2.35%,
    100% 50%,
    50% 100%,
    0 50%,
    31.39% 34.86%
  );

  content: "";

  filter: blur(1px);

  transform: scale(0);
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 5rem;
  }

  /* sparkle */
  .superscript::after {
    --size: 6rem;
  }
}






.raga{
    color: black;
    font-size: 35px;
    font-weight: bold;
    font-family: monospace;
    letter-spacing: 5px;
    cursor: pointer
  }
  .raga span{
    transition: .5s linear
  }
  .raga:hover span:nth-child(1){
    margin-right: 5px
  }
  .raga:hover span:nth-child(1):after{
    content: "'";
  }
  .raga:hover span:nth-child(2){
    margin-left: 30px
  }
  .raga:hover span{
    color: #fff;
    text-shadow: 0 0 10px red,
                 0 0 20px red, 
                 0 0 40px red;
  }
  /*made with ❤, by qpi65*/









.container_poster{

}

.New{
    border-radius: 25%;
}
h1{
    font-size: 80px;
}
.heading{
    margin-top: 20%;

text-align: center;
}
.name{
font-size: 60px;
margin-top: 40%;
font-family:Georgia, 'Times New Roman', Times, serif;
}
.images{
    width: 100%;
    height: 100vh;
}
.aboutmee{
    margin-top: -30%;
    margin-bottom: 5%;
}
.aboutme{
    margin-top: 5%;
    margin-bottom: 10%;
   
}
.para{
    font-size:20px;
    margin-top: 2%;
    margin-right: 80%;
}
.parag{
    margin-left: 10%;
}
.m{
    display: flex;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;}
    .aa{
      font-size: 16px;
    }

@media(max-width:550px){
    .about{
        font-size: 15px;
    }
    .aa{
        font-size: 15px;
        display: flex;
    }
}
.project{
    margin-top: 10%;
}



